/* General */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 75%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.fa,.fa-angle-down{
  font-size: 20px;
  margin-left: 5px;
}
/* /General */

/* intestazione */

/* barra login e lingua */
.big{
  background-color: #F4F9FE;
  line-height: 50px;
  border-bottom: 1px solid #32495A;
}

.big li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0;
  padding-left: 5px;
}

.lang{
  float:left;
}

.lang-arrow{
  border-right: 1px solid #32495A;
  padding-right: 10px;
}

.login{
  float:right;
}

.login li{
  margin-left: 10px;
}

#lens{
  color: #0a97fc;
}

.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
  text-align: center;
  line-height: initial;
  text-decoration: none;
  font-size: 14px;
}

.btn-bordered {
  border: 1px solid #FE7859;
  color: #FE7859;
}

.btn-orange{
  background-color: #FE7859;
}
/* /barra login e lingua */

/* barra di navigazione */
.main-nav{
  line-height: 70px;
}

.main-nav img{
  float:left;
  display: inline-block;
  margin: 20px 0;
}

.main-nav li{
  float: right;
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
/* /barra di navigazione */
